
.article {
    padding: 20px;
   
  
  }
  .article__box {
    background-color: rgba(2, 2, 2, 0.5);
    border: 1px solid rgb(16, 24, 120);
    padding: 20px;
    width: 270px;
    height: 550px;
    padding-right:10px;
    padding-left:10px;
    margin-top:60px;
    box-shadow:0px 0px 20px rgb(92, 12, 177);
    margin-right:auto;
    margin-bottom:40px;
   
  }
  
  .article__rate {
    font-size: 14px;
    color: white;
    /* position: relative;
    left:286px; */
    margin-bottom:30px;
    margin-top:-10px;
   
  }
  
  .article__picture {
    
    width:270px;
    height:420px;
    color: black;
    margin-bottom: 1px;
    margin-top:-20px;
    box-shadow: 0px 0px 20px black;
    
 
    
  }
  .article__title {

    font-size: 15px bold;  
    color:white;
    line-height: 1.5;
    margin-top: 5px;
    
    
  }
  
  .article__title--text{
    text-align: justify!important ;
    font-size: 20px;  
    color:white;

  }

  .article_modal_button{
    margin-top:-73px;
    margin-left:246px;
    width:45px;
    position:absolute;
    border:1px solid;
    background-color:black;
  }

